<nav class="navbar">
    <a class="navbar-brand">PictureID</a>
  <span class="left-items">
   <a routerLink="/" class="navs">Home</a>
    <a routerLink="/profile" class="navs">Profile</a>
    </span>
    <span class="right-items" *ngIf="!isLoggedIn">
      <a routerLink="/login" class="navs login">Login</a>
      <a routerLink="/register" class="navs reg">Register</a>
    </span>
  <span class="right-items" *ngIf="isLoggedIn">
      <a (click) ='logOut()' class="navs reg">Logout</a>
    </span>
</nav>
