<div class="main">
  <h1 class="action">Login</h1>
  <div class="login" *ngIf="requestImg">
  <p class="auth-text" style="font-weight: bold;">Provide your picture to get authenticated</p>
  <p class="auth-text">You can use any recent picture with or without face mask</p>
  <form #f="ngForm" (ngSubmit)="onImgSubmit(f)">
    <div class="form-group">
      <label for="pic" class="input-auth picture" *ngIf="file.pristine">Upload Your Picture..</label>
      <label for="pic" class="input-auth picture" *ngIf="file.dirty">Picture Uploaded</label>
      <input type="file" id= "pic" style="display: none" required
             accept="image/*" ngModel name="file" #file="ngModel">
      <span class="err" *ngIf="!file.valid && file.touched">Please, upload a valid picture!</span>
    </div>
    <button class="btn-auth" type="submit" [disabled]="!f.valid">Submit Form</button>
  </form>
  </div>
  <div class="login" *ngIf="!requestImg">
    <p class="auth-text">Enter your credentials to login. You may be required to enter a verification code or provide a recent picture to get authenticated</p>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="email"></label>
        <input type="email" id= "email" placeholder="Your e-mail.."
               required autocomplete="off" email
               maxlength="50" class="input-auth" ngModel name="email" #email="ngModel">
        <span class="err" *ngIf="!email.valid && email.touched">Please, enter a valid e-mail!</span>
      </div>
      <div class="form-group">
        <label for="pass"></label>
        <input type="password" id= "pass" placeholder="Your password.."
               required autocomplete="off" minlength="6"
               class="input-auth" ngModel name="password" #pass="ngModel">
        <span class="err" *ngIf="!pass.valid && pass.touched">Valid password should contain at least 6 characters</span>
      </div>
      <button class="btn-auth" type="submit" [disabled]="!f.valid">Submit Form</button>
    </form>
  </div>
</div>
