.col-sm-8{
  text-align: -webkit-left;
}

.input-auth {
  width: 90%;
  font: 14px Futura,Helvetica,sans-serif;
}

.err {
  padding-left: 15px;
}

.form-check-label{
  font-weight: normal;
  padding-left: 5px;
}

:host ::ng-deep .iti {
  width: 90%;
  margin-left: 10px;
}

