<div class="main">
  <h1 class="app-name">PictureID</h1>
  <p class="app-descr">Masked and maskless picture authorization service</p>
    <div>
      <p>This application allows you to get authorized access to the requested service using your picture.
        It is not important either you wear a mask or not, the application will recognize your face and confirm your
      identity.</p>
      <p class="auth-text">To start using the app, please, register or login</p>
      <button routerLink="/login" class="btn-home" type="submit" *ngIf="!isLoggedIn">Login</button>
      <button routerLink="/register" class="btn-home" type="submit" *ngIf="!isLoggedIn">Register</button>
      <button routerLink="/profile" class="btn-auth" type="submit" *ngIf="isLoggedIn">View Profile</button>
    </div>
</div>
